  /* small device */
  @media screen and (max-width:576px) {

    nav, .nav-links, .popular-tour, .newsletter, .destination-img-container{
        flex-direction: column;
        margin: 30px 50px;
    }
    .logo-and-title{
        gap: 10px;
    }
    .banner, .popular-tour, .popular-tour-description{
        width: auto;
        margin: 20px;
    }

    .banner-title{
        margin: 0;
        padding-top: 32px;
        font-size: 1.4rem;
    }
    .banner-info{
        width: 304px;
        margin: 8px 20px;
        text-align: justify;
    }
    .banner-form{
        flex-direction: column;
        margin-top: 24px;
        margin-bottom: 32px;
        padding: 24px;
    }
    .banner-inputs, .banner-form>button{
        width: 255px;
        height: 52px;
        padding: 0;
    }
    .popular-tour-img img{
        width: 340px;
        height: 350px;
        margin: 16px auto ;
        padding: 0 auto;
    }
    .destination-info{
        margin: 10px 33px;
        width: 300px;
    }
    .destination-img-container{
        margin: 0 20px;
    }
    .destination-img{
        width: 335px;
        height: 176px;
    }

    .newsletter, .destinations{
        margin: 16px auto;
    }
    .newsletter-details{
        width: 300px;
        margin: 16px auto;
        padding: 25px;
    }
    .newsletter-info, .newsletter-input{
        width: 270px;
    }
    #Subscribe{
        width: 280px;
    }
    .newsletter-img{
        width: 350px;
        height: 320px;
        margin: 20px 20px;
        border-radius: 16px;

    }
    .sale-70{
        width: 214px;
        height: 78px;
        padding-top: 30px;
        font-size: 1.3rem;
        right: 15%;
    }
    /* Footer */
    footer{
        margin-top: 50px;
    }
    #footer-logo, .footer-description, footer hr, .footer-socials img{
        margin: 16px 20px;
    }
    
 }

 /* medium device */
 @media screen and (min-width:577px) and (max-width:992px){
  
    nav, .popular-tour{
        flex-direction: column;
    }
    .banner, .popular-tour{
        margin: 20px 60px;
    }
    .banner-form{
        display: flex;
        flex-wrap: wrap;
    }
 }