/* Global Part */
*{
    margin: 0;
    padding: 0;
    max-width: 1600px;
}
/* Primary Styles */
:root{
    --main-font:'Mulish', sansiserif;
    --theme-color: #FF5400;
    --black: #131318;
    --text-color: rgba(19, 19, 24, 0.70);
    --white: #fff;
}
.primary-btn{
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: var(--theme-color);
    color: var(--white);
    text-align: center;
    font-family: var(--main-font);
    font-size: 1.25rem;
    font-weight: 800;
    cursor: pointer;
}
.primary-btn:hover{
    color: var(--theme-color);
    background-color: var(--white);
    border: 3px solid var(--theme-color);
}
/* Header Secton */
/* Nav Bar */

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 135px;
}
.logo-and-title{
    display: flex;
    justify-content: space-between;
    gap: 16.6px;
    text-align: center;
    align-items: center;
}
.header-title{
    color: var(--black);
    font-family: var(--main-font);
    font-size: 2.4rem;
    font-weight: 800;
}
.theme{
    color: var(--theme-color);
}
.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 22px;
    padding: 10px 0;
    list-style: none;
    text-align: center;
    font-family: var(--main-font);
    font-size: 1.2rem;
    font-weight: 400;
}
.nav-links a {
    text-decoration: none;
    color: #424247;
}
.nav-links .theme{
    font-weight: 700;
} 
/* Banner part */
.banner{
    background:  linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    margin: 60px 135px;
    text-align: center;
    align-items: center;
}
.banner-title{
    color: var(--white);
    font-family: var(--main-font);
    font-size: 4rem;
    font-weight: 800;
    padding-top: 106px;
    margin-bottom: 24px;
}
.banner-info{
    width: 676px;
    margin: 0 247px;
    color: var(--white);
}
.banner-form{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 106px;
}
.banner-inputs{
    width: 174px;
    border-radius: 8px;
    border: none;
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 400;
    padding: 16px;
}
.banner-inputs:focus{
    outline: 0;
}
.search-icon{
    width: 20px;
    height: 20px;
    margin-left: -5px;
}
.banner button{
    font-size: 16px;
    padding-bottom: 6px;
}

/* Popular Tour Part */
.popular-tour{
    display: flex;
    justify-content: space-between;
    margin: 60px 135px;
    gap: 50px;
}
.popular-tour-title{
    color: var(--black);
    font-family: var(--main-font);
    font-size: 2.5rem;
    font-weight: 800;
}
.popular-tour-description{
    width: 580px;
    height: 450px;
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 32px;
    overflow-y: scroll;
}
.popular-tour-img img{
    margin-bottom: 50px;
}
/* Footer */
footer{
    margin-top: 100px;
    width: 100%;
}
